.nav-background-color {
    background-color: #a75d5e;
}

body {
    background-color: #fef9f8 !important;
    margin: 1rem 3rem;
    font-family: 'Ubuntu', sans-serif !important;
}

.bg-color {
    background-color: #fef9f8 !important;
}

hr {
    margin: 2rem;
    border-style: none;
    border-top-style: solid;
}

i {
    size: 2rem;
}

.chartDiv {
    margin: 3rem;
}

.spese-margin {
    margin: 3rem;
}

.nav-font {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 300;
    font-size: 1.3rem;
}

.nav-title-font {
    font-size: 1.8rem;
    font-weight: 500;
}