.nav-background-color {
    background-color: #a75d5e;
    margin: 1rem 7rem;
}

body {
    background-color: white !important;
}

hr {
    margin: 2rem;
    border-style: none;
    border-top-style: solid;
}

i {
    size: 2rem;
}

.chartDiv {
    margin: 3rem;
}

body {
    margin: 1rem 3rem;
}

.spese-margin {
    margin: 3rem;
}